{ "presets": [
  [ "@babel/preset-env", {
    "targets" : {
      "browsers" : [ "last 3 versions", "safari >= 6" ]
    }
  }],
  ["@babel/preset-react"]
],
  "plugins": [ "@babel/plugin-proposal-class-properties"]
}